@font-face {
  font-family: PTSans;
  src: local("Vazirmatn"), url(./Source/Font/Vazirmatn.ttf) format(truetype);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PTSans;
  border: none;
  outline: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 300px;
  min-width: 300px;
  transition: 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

body.dark {
  color: #f5f8fa;
  background: #151d25;
}

body.light {
  color: #151d25;
  background: #f5f8fa;
}

header#title {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  font-size: 1.5rem;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#theme-btn {
  transition: 50ms linear all;
}

#theme-btn:active {
  transform: scale(0.95);
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: max(100%, 300px);
  background-color: #2c3e4e;
  border: 2px solid #37556d;
  border-radius: 8px;
  margin-top: 6vh;
  padding: 0px 2% 2%;
  position: relative;
}

input[type="text"]#display-input {
  width: 100%;
  height: max(6vh, 52px);
  background: rgba(245, 248, 250, 0.04);
  color: #f5f8fa;
  font-size: 1.2rem;
  backdrop-filter: blur(5px);
  position: absolute;
  caret-color: rgba(0, 0, 0, 0);
  padding: 2% 5%;
  top: 0;
  text-shadow: -2px 2px 2px #151d25;
}

button.row:nth-child(2),
button.row:nth-child(3),
button.row:nth-child(4),
button.row:nth-child(5) {
  margin-top: max(7.5vh, 65px);
}

button.row {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin: 5px;
  font-size: 1.5rem;
  background-color: #5682a1;
  color: #f5f8fa;
  box-shadow: -5px 5px 5px #151d25;
  transition: 200ms linear all;
  text-align: center;
}

button.row:hover {
  box-shadow: -5px 5px 2px #151d25;
}

button.row:active {
  transition: 50ms linear all;
  box-shadow: -5px 5px 8px #151d25;
  transform: scale(0.95);
}

button.operator {
  color: #151d25;
  font-size: 1.2rem;
}

button.operator#star,
button.operator#minus {
  font-size: 1.8rem;
}
